:root {
    --color-bg: #373AF5;
    --color-text-white: #FFFFFF;
    --color-text-dark-blue: #2C2D76;
    --color-text-gray: #8083A4;
    --font-family: TrebuchetMS, Avenir Next, BlinkMacSystemFonts, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --tablet-width: 1280px;
    --desktop-width: 1440px;
}

body {
    width: 320rem;
    height: 100vh;
    margin: 0;
    background-color: #373AF5;
    background-image: url("./static/images/Vector5.svg"), url("./static/images/Vector2.svg"), url("./static/images/Vector1.svg"), url("./static/images/Vector4.svg"), url("./static/images/Vector6.svg"), url("./static/images/Vector3.svg");
    background-repeat: no-repeat;
    background-size: 150rem, 231rem, 173rem, 274rem, 320rem, 320rem;
    background-position: -28rem -29rem, 134rem 0, 160rem 0, -12rem bottom, 0rem bottom, -80rem bottom;
}

.title {
    font-family: var(--font-family);
    color: var(--color-text-white);
    font-size: 32rem;
}

.app__white-box-container{
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
}
.app__white-box-container-mb {
    margin-bottom: 10rem;
}

 @media (min-width: 1280px) {
    body {
        width: 1280rem;
        background-size: 496rem, 766rem, 572rem, 596rem, 820rem;
        background-position: 0 0, 836rem 0, top right -200rem, bottom left, bottom left, bottom left;
    }

    .app__white-box-container{
        margin: 0 310rem;
    }
    .app__white-box-container-mb {
        margin-bottom: 34rem;
    }
}

@media (min-width: 1440px) {
    body {
        width: 1440rem;
        background-size: 496rem, 766rem, 572rem, 596rem, 820rem;
        background-position: 0 0, 800rem 0, top right 0rem, bottom left, bottom left, bottom left;
    }

    .app__white-box-container{
        flex-direction: row;
        margin: 0 41rem;
    }
    .app__white-box-container-mb {
        margin-bottom: 0;
        margin-right: 34rem;
    }
}