@font-face {
  font-weight: bold;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("./fonts/Ubuntu-Bold.ttf") ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images//Bg.png") no-repeat; 
  background-size: auto; 
  background-color: #373AF5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1{
  margin: 0;
}

