.list {
  overflow: auto;
  width: 252px;
  height: 160px;
  background: #FFFFFF;
  border: 2px solid rgba(128, 131, 164, 0.06);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
  border-radius: 8px;
}

.item {
  padding: 6px 0 6px 10px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2C2D76;
}

.item:hover {
  background: rgba(128, 131, 164, 0.06);
  border-radius: 8px;
} 

.dropdown-box__toggle-box {
  display: flex;
  justify-content: space-between;
  width: 252px;
  margin-bottom: 12px;
  padding: 12px 19px 12px 16px;
  background: rgba(128, 131, 164, 0.06);
  border: 2px solid rgba(128, 131, 164, 0.2);
  box-sizing: border-box;
  border-radius: 8px
}

.dropdown-box__toggle-box-title {
  font-family: "Ubuntu Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8083A4;
}

.dropdown-box__toggle {
  width: 14px;
  height: 8px;
  background: rgba(128, 131, 164, 0.06);
  border: none;
  cursor: pointer;
}

.dropdown-box--closed  {
  width: 14px;
  height: 8px;
  background-image: url("../../images/icon-open.svg");
  background-size: 14px 8px;
}

.dropdown-box--opened {
  width: 14px;
  height: 8px;
  background-image: url("../../images/icon-close.svg");
  background-size: 14px 8px;
  background-repeat: no-repeat;
}